{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Package Tracking System{% endblock %}</title>
    {% block extracss%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
    <body>
        <div class="container">
            <div class="logo">
                <!-- Place your site logo here -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    </html>
