{% extends 'base.html' %}
{% load static %}
{% block title %}Package Detail - Package Tracking System{% endblock %}
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
{% block content %}
<h1 class="mt-5">Track Package</h1>
<form method="post" action="{% url 'consignment:track_package' %}" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="tracking_number" class="form-label">Enter Tracking Code</label>
        <input type="text" class="form-control" id="tracking_number" name="tracking_code" required>
    </div>
  <button type="submit" class="btn btn-primary">Track</button>
</form>
{% if error_message %}
    <div class="alert alert-danger mt-3" role="alert">{{ error_message }}</div>
{% endif %}
{% endblock %}
